# dplyr-高效的数据变换与整理工具

## 背景简介

`dplyr`包是Hadley Wickham (`ggplot2`包的作者，被称作“一个改变R的人”）的杰作，并自称a grammar of data manipulation, 他将原本`plyr`包中的`ddply`等函数进一步分离强化，专注接受`dataframe`对象，大幅提高了速度，并提供了更稳健的与其他数据对象间的接口。

## `dplyr`包使用介绍

### `dplyr`包的安装加载与示例数据准备

In [1]:
# install.packages("dplyr")
# install.packages("hflights")

In [2]:
library(dplyr)
library(hflights)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
class(hflights)
dim(hflights)

[1] "data.frame"

[1] 227496     21

In [4]:
head(hflights)

     Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
5424 2011 1     1          6         1400    1500    AA            428
5425 2011 1     2          7         1401    1501    AA            428
5426 2011 1     3          1         1352    1502    AA            428
5427 2011 1     4          2         1403    1513    AA            428
5428 2011 1     5          3         1405    1507    AA            428
5429 2011 1     6          4         1359    1503    AA            428
     TailNum ActualElapsedTime ... ArrDelay DepDelay Origin Dest Distance
5424 N576AA  60                ... -10       0       IAH    DFW  224
5425 N557AA  60                ...  -9       1       IAH    DFW  224
5426 N541AA  70                ...  -8      -8       IAH    DFW  224
5427 N403AA  70                ...   3       3       IAH    DFW  224
5428 N492AA  62                ...  -3       5       IAH    DFW  224
5429 N262AA  64                ...  -7      -1       IAH    DFW  224
     TaxiIn TaxiOut Cancelled CancellationCode Diverted
5424 7      13      0                          0
5425 6       9      0                          0
5426 5      17      0                          0
5427 9      22      0                          0
5428 9       9      0                          0
5429 6      13      0                          0

In [5]:
packageVersion("dplyr")

[1] '0.7.4'

In [7]:
tbl_hflights <- tbl_df(hflights)
class(tbl_hflights)

[1] "tbl_df"     "tbl"        "data.frame"

In [8]:
print(tbl_hflights)

# A tibble: 227,496 x 21
    Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
 * <int> <int>      <int>     <int>   <int>   <int>         <chr>     <int>
 1  2011     1          1         6    1400    1500            AA       428
 2  2011     1          2         7    1401    1501            AA       428
 3  2011     1          3         1    1352    1502            AA       428
 4  2011     1          4         2    1403    1513            AA       428
 5  2011     1          5         3    1405    1507            AA       428
 6  2011     1          6         4    1359    1503            AA       428
 7  2011     1          7         5    1359    1509            AA       428
 8  2011     1          8         6    1355    1454            AA       428
 9  2011     1          9         7    1443    1554            AA       428
10  2011     1         10         1    1443    1553            AA       428
# ... with 227,486 more rows, and 13 more variables: TailNum <chr>,
#   ActualElapsedTime <int>, AirTime <int>, ArrDelay <int>, DepDelay <int>,
#   Origin <chr>, Dest <chr>, Distance <int>, TaxiIn <int>, TaxiOut <int>,
#   Cancelled <int>, CancellationCode <chr>, Diverted <int>

### 变量筛选`select`

select函数可以通过指定列名选择指定的变量进行分析

In [11]:
tbl_hflights_select1 <- select(tbl_hflights, Year, Month, DayofMonth, FlightNum, Distance)
print(tbl_hflights_select1)

# A tibble: 227,496 x 5
    Year Month DayofMonth FlightNum Distance
 * <int> <int>      <int>     <int>    <int>
 1  2011     1          1       428      224
 2  2011     1          2       428      224
 3  2011     1          3       428      224
 4  2011     1          4       428      224
 5  2011     1          5       428      224
 6  2011     1          6       428      224
 7  2011     1          7       428      224
 8  2011     1          8       428      224
 9  2011     1          9       428      224
10  2011     1         10       428      224
# ... with 227,486 more rows

In [12]:
tbl_hflights_select1 <- select(tbl_hflights, Year:ArrTime)
print(tbl_hflights_select1)

# A tibble: 227,496 x 6
    Year Month DayofMonth DayOfWeek DepTime ArrTime
 * <int> <int>      <int>     <int>   <int>   <int>
 1  2011     1          1         6    1400    1500
 2  2011     1          2         7    1401    1501
 3  2011     1          3         1    1352    1502
 4  2011     1          4         2    1403    1513
 5  2011     1          5         3    1405    1507
 6  2011     1          6         4    1359    1503
 7  2011     1          7         5    1359    1509
 8  2011     1          8         6    1355    1454
 9  2011     1          9         7    1443    1554
10  2011     1         10         1    1443    1553
# ... with 227,486 more rows

In [13]:
tbl_hflights_select1 <- select(tbl_hflights, ArrTime:Year)
print(tbl_hflights_select1)

# A tibble: 227,496 x 6
   ArrTime DepTime DayOfWeek DayofMonth Month  Year
 *   <int>   <int>     <int>      <int> <int> <int>
 1    1500    1400         6          1     1  2011
 2    1501    1401         7          2     1  2011
 3    1502    1352         1          3     1  2011
 4    1513    1403         2          4     1  2011
 5    1507    1405         3          5     1  2011
 6    1503    1359         4          6     1  2011
 7    1509    1359         5          7     1  2011
 8    1454    1355         6          8     1  2011
 9    1554    1443         7          9     1  2011
10    1553    1443         1         10     1  2011
# ... with 227,486 more rows

In [15]:
print(select(tbl_hflights, -Year, -Month, -DayofMonth, -FlightNum, -Distance))

# A tibble: 227,496 x 16
   DayOfWeek DepTime ArrTime UniqueCarrier TailNum ActualElapsedTime AirTime
 *     <int>   <int>   <int>         <chr>   <chr>             <int>   <int>
 1         6    1400    1500            AA  N576AA                60      40
 2         7    1401    1501            AA  N557AA                60      45
 3         1    1352    1502            AA  N541AA                70      48
 4         2    1403    1513            AA  N403AA                70      39
 5         3    1405    1507            AA  N492AA                62      44
 6         4    1359    1503            AA  N262AA                64      45
 7         5    1359    1509            AA  N493AA                70      43
 8         6    1355    1454            AA  N477AA                59      40
 9         7    1443    1554            AA  N476AA                71      41
10         1    1443    1553            AA  N504AA                70      45
# ... with 227,486 more rows, and 9 more variables: ArrDelay <int>,
#   DepDelay <int>, Origin <chr>, Dest <chr>, TaxiIn <int>, TaxiOut <int>,
#   Cancelled <int>, CancellationCode <chr>, Diverted <int>

In [16]:
print(select(tbl_hflights, -(Year:ArrTime)))

# A tibble: 227,496 x 15
   UniqueCarrier FlightNum TailNum ActualElapsedTime AirTime ArrDelay DepDelay
 *         <chr>     <int>   <chr>             <int>   <int>    <int>    <int>
 1            AA       428  N576AA                60      40      -10        0
 2            AA       428  N557AA                60      45       -9        1
 3            AA       428  N541AA                70      48       -8       -8
 4            AA       428  N403AA                70      39        3        3
 5            AA       428  N492AA                62      44       -3        5
 6            AA       428  N262AA                64      45       -7       -1
 7            AA       428  N493AA                70      43       -1       -1
 8            AA       428  N477AA                59      40      -16       -5
 9            AA       428  N476AA                71      41       44       43
10            AA       428  N504AA                70      45       43       43
# ... with 227,486 more rows, and 8 more variables: Origin <chr>, Dest <chr>,
#   Distance <int>, TaxiIn <int>, TaxiOut <int>, Cancelled <int>,
#   CancellationCode <chr>, Diverted <int>

### 数据记录筛选`filter`

`filter`函数按照指定的条件筛选符合逻辑判断要求的数据记录，类似SQL语句中的`where`语句中的筛选条件。

In [20]:
print(filter(tbl_hflights,Year == 2011, Month == 1, DepTime == 1400))

# A tibble: 14 x 21
    Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
   <int> <int>      <int>     <int>   <int>   <int>         <chr>     <int>
 1  2011     1          1         6    1400    1500            AA       428
 2  2011     1         28         5    1400    1710            CO      1548
 3  2011     1         16         7    1400    1702            CO      1562
 4  2011     1          4         2    1400    1448            WN        32
 5  2011     1          8         6    1400    1452            WN      1447
 6  2011     1         12         3    1400    1522            WN       712
 7  2011     1         18         2    1400    1530            WN       604
 8  2011     1         24         1    1400    1516            WN       712
 9  2011     1         25         2    1400    1458            WN        32
10  2011     1         28         5    1400    1735            XE      3078
11  2011     1         22         6    1400    1700            XE      2715
12  2011     1         19         3    1400    1653            XE      2715
13  2011     1         11         2    1400    1511            XE      2773
14  2011     1          2         7    1400    1716            XE      2572
# ... with 13 more variables: TailNum <chr>, ActualElapsedTime <int>,
#   AirTime <int>, ArrDelay <int>, DepDelay <int>, Origin <chr>, Dest <chr>,
#   Distance <int>, TaxiIn <int>, TaxiOut <int>, Cancelled <int>,
#   CancellationCode <chr>, Diverted <int>

In [21]:
print(filter(tbl_hflights, Year == 2011 & Month == 1 & DepTime == 1400))

# A tibble: 14 x 21
    Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
   <int> <int>      <int>     <int>   <int>   <int>         <chr>     <int>
 1  2011     1          1         6    1400    1500            AA       428
 2  2011     1         28         5    1400    1710            CO      1548
 3  2011     1         16         7    1400    1702            CO      1562
 4  2011     1          4         2    1400    1448            WN        32
 5  2011     1          8         6    1400    1452            WN      1447
 6  2011     1         12         3    1400    1522            WN       712
 7  2011     1         18         2    1400    1530            WN       604
 8  2011     1         24         1    1400    1516            WN       712
 9  2011     1         25         2    1400    1458            WN        32
10  2011     1         28         5    1400    1735            XE      3078
11  2011     1         22         6    1400    1700            XE      2715
12  2011     1         19         3    1400    1653            XE      2715
13  2011     1         11         2    1400    1511            XE      2773
14  2011     1          2         7    1400    1716            XE      2572
# ... with 13 more variables: TailNum <chr>, ActualElapsedTime <int>,
#   AirTime <int>, ArrDelay <int>, DepDelay <int>, Origin <chr>, Dest <chr>,
#   Distance <int>, TaxiIn <int>, TaxiOut <int>, Cancelled <int>,
#   CancellationCode <chr>, Diverted <int>

In [22]:
print(filter(tbl_hflights, Year == 2011 & Month == 1 & DepTime <= 1400))

# A tibble: 9,068 x 21
    Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
   <int> <int>      <int>     <int>   <int>   <int>         <chr>     <int>
 1  2011     1          1         6    1400    1500            AA       428
 2  2011     1          3         1    1352    1502            AA       428
 3  2011     1          6         4    1359    1503            AA       428
 4  2011     1          7         5    1359    1509            AA       428
 5  2011     1          8         6    1355    1454            AA       428
 6  2011     1         13         4    1358    1501            AA       428
 7  2011     1         14         5    1357    1504            AA       428
 8  2011     1         15         6    1359    1459            AA       428
 9  2011     1         16         7    1359    1509            AA       428
10  2011     1         19         3    1356    1503            AA       428
# ... with 9,058 more rows, and 13 more variables: TailNum <chr>,
#   ActualElapsedTime <int>, AirTime <int>, ArrDelay <int>, DepDelay <int>,
#   Origin <chr>, Dest <chr>, Distance <int>, TaxiIn <int>, TaxiOut <int>,
#   Cancelled <int>, CancellationCode <chr>, Diverted <int>

In [23]:
print(filter(tbl_hflights, Year == 2011 & Month == 1 & (DepTime == 1400 | DepTime == 1430) & UniqueCarrier == "AA"))

# A tibble: 1 x 21
   Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
  <int> <int>      <int>     <int>   <int>   <int>         <chr>     <int>
1  2011     1          1         6    1400    1500            AA       428
# ... with 13 more variables: TailNum <chr>, ActualElapsedTime <int>,
#   AirTime <int>, ArrDelay <int>, DepDelay <int>, Origin <chr>, Dest <chr>,
#   Distance <int>, TaxiIn <int>, TaxiOut <int>, Cancelled <int>,
#   CancellationCode <chr>, Diverted <int>

### 数据排序`arrange`

`arrange`函数按给定的列名进行排序，默认为升序排列，也可以对列名加`desc()`进行降序排列。

In [25]:
tbl_hflights_select1 <- select(filter(tbl_hflights,Year == 2011 & Month == 1 & DepTime == 1400),Year:ArrTime,AirTime)

In [27]:
print(tbl_hflights_select1)

# A tibble: 14 x 7
    Year Month DayofMonth DayOfWeek DepTime ArrTime AirTime
   <int> <int>      <int>     <int>   <int>   <int>   <int>
 1  2011     1          1         6    1400    1500      40
 2  2011     1         28         5    1400    1710     112
 3  2011     1         16         7    1400    1702     104
 4  2011     1          4         2    1400    1448      40
 5  2011     1          8         6    1400    1452      40
 6  2011     1         12         3    1400    1522     129
 7  2011     1         18         2    1400    1530      65
 8  2011     1         24         1    1400    1516     122
 9  2011     1         25         2    1400    1458      40
10  2011     1         28         5    1400    1735     142
11  2011     1         22         6    1400    1700     107
12  2011     1         19         3    1400    1653     103
13  2011     1         11         2    1400    1511      53
14  2011     1          2         7    1400    1716     118

In [29]:
print(arrange(tbl_hflights_select1, ArrTime))

# A tibble: 14 x 7
    Year Month DayofMonth DayOfWeek DepTime ArrTime AirTime
   <int> <int>      <int>     <int>   <int>   <int>   <int>
 1  2011     1          4         2    1400    1448      40
 2  2011     1          8         6    1400    1452      40
 3  2011     1         25         2    1400    1458      40
 4  2011     1          1         6    1400    1500      40
 5  2011     1         11         2    1400    1511      53
 6  2011     1         24         1    1400    1516     122
 7  2011     1         12         3    1400    1522     129
 8  2011     1         18         2    1400    1530      65
 9  2011     1         19         3    1400    1653     103
10  2011     1         22         6    1400    1700     107
11  2011     1         16         7    1400    1702     104
12  2011     1         28         5    1400    1710     112
13  2011     1          2         7    1400    1716     118
14  2011     1         28         5    1400    1735     142

In [31]:
print(arrange(tbl_hflights_select1,desc(AirTime), ArrTime))

# A tibble: 14 x 7
    Year Month DayofMonth DayOfWeek DepTime ArrTime AirTime
   <int> <int>      <int>     <int>   <int>   <int>   <int>
 1  2011     1         28         5    1400    1735     142
 2  2011     1         12         3    1400    1522     129
 3  2011     1         24         1    1400    1516     122
 4  2011     1          2         7    1400    1716     118
 5  2011     1         28         5    1400    1710     112
 6  2011     1         22         6    1400    1700     107
 7  2011     1         16         7    1400    1702     104
 8  2011     1         19         3    1400    1653     103
 9  2011     1         18         2    1400    1530      65
10  2011     1         11         2    1400    1511      53
11  2011     1          4         2    1400    1448      40
12  2011     1          8         6    1400    1452      40
13  2011     1         25         2    1400    1458      40
14  2011     1          1         6    1400    1500      40

### 变量的变换/重构`mutate`

`mutate`函数可以基于原始变量重新计算得到新的变量，在做数据分析预处理的时候经常会用到该功能。

In [32]:
tbl_hflights2 <- mutate(tbl_hflights_select1, 
                        DurTime = (as.numeric(substr(ArrTime,1,2)) - as.numeric(substr(DepTime,1,2))) * 60 + as.numeric(substr(ArrTime,3,4)),
                        Dur_Time1 = DurTime*60)

In [33]:
print(tbl_hflights2)

# A tibble: 14 x 9
    Year Month DayofMonth DayOfWeek DepTime ArrTime AirTime DurTime Dur_Time1
   <int> <int>      <int>     <int>   <int>   <int>   <int>   <dbl>     <dbl>
 1  2011     1          1         6    1400    1500      40      60      3600
 2  2011     1         28         5    1400    1710     112     190     11400
 3  2011     1         16         7    1400    1702     104     182     10920
 4  2011     1          4         2    1400    1448      40      48      2880
 5  2011     1          8         6    1400    1452      40      52      3120
 6  2011     1         12         3    1400    1522     129      82      4920
 7  2011     1         18         2    1400    1530      65      90      5400
 8  2011     1         24         1    1400    1516     122      76      4560
 9  2011     1         25         2    1400    1458      40      58      3480
10  2011     1         28         5    1400    1735     142     215     12900
11  2011     1         22         6    1400    1700     107     180     10800
12  2011     1         19         3    1400    1653     103     173     10380
13  2011     1         11         2    1400    1511      53      71      4260
14  2011     1          2         7    1400    1716     118     196     11760

### 数据汇总`summarize`

`summarize`函数实现对数据的汇总，比如求和，计算平均值等。

In [34]:
summarize(tbl_hflights2, avg_dur = mean(DurTime), sum_air = sum(AirTime))

  avg_dur sum_air
1 119.5   1215

### 数据分组`group_by`

`group_by`函数实现对数据进行分组，结合`summarize`函数，可以对分组数据进行汇总攻击。

In [35]:
summarize(group_by(tbl_hflights, UniqueCarrier), 
          m = mean(AirTime, na.rm = TRUE),
          sd = sd(AirTime, na.rm = TRUE),
          cnt = n(),
          me = median(AirTime, na.rm = TRUE))

   UniqueCarrier m         sd        cnt   me
1  AA             69.65261 35.483594  3244  46.0
2  AS            254.18407 15.150000   365 253.0
3  B6            183.98514 15.025170   695 182.0
4  CO            145.45787 63.857076 70032 148.0
5  DL             97.80124 15.174082  2641  94.0
6  EV            103.65677 30.060020  2204  94.0
7  F9            125.34135  8.347381   838 125.0
8  FL             92.70630  8.554146  2139  93.0
9  MQ             93.83948 52.804255  4648  55.0
10 OO            113.41068 37.742644 16061 115.0
11 UA            157.40630 46.018346  2072 136.0
12 US            133.85633 17.020565  4082 130.0
13 WN             86.73134 51.146657 45343  69.0
14 XE             83.22215 33.679941 73053  80.0
15 YV            121.93590  9.366062    79 119.5

### 多步操作连接符`%>%

`dplyr`包里还新引进了一个操作符，`%>%`，使用时把数据集名作为开头，然后依次对数据进行多步操作。

这种运算符的编写方式使得编程者可以按照数据处理时的思路写代码，一步一步操作不断叠加上，在程序上就可以非常清晰的体现数据处理的步骤与背后的逻辑。

In [36]:
tbl_hflights %>%
    group_by(UniqueCarrier) %>%
    summarize(m = mean(AirTime, na.rm = TRUE), sd = sd(AirTime, na.rm = TRUE)) %>%
    arrange(desc(m), sd) %>%
    head(10)

   UniqueCarrier m         sd
1  AS            254.18407 15.150000
2  B6            183.98514 15.025170
3  UA            157.40630 46.018346
4  CO            145.45787 63.857076
5  US            133.85633 17.020565
6  F9            125.34135  8.347381
7  YV            121.93590  9.366062
8  OO            113.41068 37.742644
9  EV            103.65677 30.060020
10 DL             97.80124 15.174082

### 挑选随机样本`sample_n, sample_frac`

`sample_n`随机选取指定个数（样本容量）的样本数；`sample_frac`随机选出指定百分比（占整个数据集总体百分比）的样本数。

In [38]:
print(sample_n(tbl_hflights,10))

# A tibble: 10 x 21
    Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
   <int> <int>      <int>     <int>   <int>   <int>         <chr>     <int>
 1  2011    12         22         4    1436    1800            CO      1439
 2  2011    10         29         6    1919    2249            CO      1730
 3  2011     3         21         1     846    1159            CO      1873
 4  2011     2         24         4     726     849            UA       109
 5  2011     1         12         3    1154    1451            DL      1512
 6  2011     6         20         1    1515    1631            XE      2778
 7  2011     3          8         2    1534    1622            XE      2442
 8  2011     4          7         4    2018    2113            CO       479
 9  2011    12          4         7    1835    2033            XE      4370
10  2011     2         28         1    1757    1920            WN        41
# ... with 13 more variables: TailNum <chr>, ActualElapsedTime <int>,
#   AirTime <int>, ArrDelay <int>, DepDelay <int>, Origin <chr>, Dest <chr>,
#   Distance <int>, TaxiIn <int>, TaxiOut <int>, Cancelled <int>,
#   CancellationCode <chr>, Diverted <int>

In [39]:
tbl_hflights %>%
    sample_frac(0.1) %>%
    select(Year:UniqueCarrier) %>%
    group_by(UniqueCarrier) %>%
    summarise(m = mean(ArrTime, na.rm = TRUE), cnt = n()) %>%
    arrange(desc(m))

   UniqueCarrier m        cnt
1  AS            2106.422   45
2  B6            1685.127   57
3  CO            1656.970 7105
4  OO            1622.726 1540
5  XE            1582.023 7216
6  FL            1576.348  206
7  WN            1505.173 4583
8  YV            1478.250    8
9  MQ            1457.804  468
10 UA            1452.833  208
11 EV            1448.556  217
12 DL            1425.712  268
13 AA            1424.649  327
14 US            1392.169  415
15 F9            1298.046   87